form input {
  margin: 5px 0;
}

.navbar{
  outline:1px solid black;
}

.navlist {
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 4px 0;
}

.navlist li {
  list-style:none;
  border-right: 1px solid black;
  padding:5px 10px;
}

.navlist li a {
  text-decoration: none;
  color:black;
}

.navlist li:last-child {
  border: none;
}

.navlist li.active a {
  color:blue;
}

